.app__navbar {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1rem 2rem;
	background: rgba(252, 252, 252, 0.25);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	position: fixed;
	z-index: 2;

	@media screen and (max-width: 899px) {
		justify-content: flex-end;
	}
}

.app__navbar-logo {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 90px;
		height: 20px;

		@media screen and (min-width: 2000px) {
			width: 180px;
			height: 40px;
		}
	}
}

.app__navbar-links {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;

	a {
		cursor: pointer;
		color: var(--scroll-bar-color);
		text-decoration: none;
		flex-direction: column;
		border-radius: 13px;

		text-transform: uppercase;
		font-weight: 500;

		transition: all 0.3s ease-in-out;

		&:hover {
			color: var(--first-color);
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.app__navbar-menu {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);

	@media screen and (min-width: 900px) {
		display: none;
	}
}
