:root {
  --font-family: "Poppins", sans-serif;

  --primary-color: #EEF2F8;
  --secondary-color: #D05353;
  --black-color: #131318;
  --lightGray-color: #D3D3D3;
  --gray-color: #6b7688;
  --brown-color: #856A5D;
  --white-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */